In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Fraud_Detection.csv')
df.head(1)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0

In [4]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud'],
      dtype='object')

In [6]:
da = df[['step', 'type', 'amount', 'nameOrig','newbalanceOrig','nameDest','newbalanceDest']]
da.to_csv('New_Inforamtion.csv', index=False)