In [ ]:
import json
from kafka import KafkaConsumer

if __name__ == "__main__":
    consumer = KafkaConsumer("ftde02-project4", bootstrap_servers='34.142.138.97')
    print("Starting the consumer")
    
    for msg in consumer:
        print(f"Records = {json.loads(msg.value)}")
        
        # Parsing pesan Kafka
        data = json.loads(msg.value)

Starting the consumer
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 5392.75, 'nameOrig': 'C1878413714', 'newbalanceOrig': 45364.25, 'nameDest': 'M769132147', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 25.12, 'nameOrig': 'C1257299717', 'newbalanceOrig': 61637.88, 'nameDest': 'M1474957626', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 17150.89, 'nameOrig': 'C181252244', 'newbalanceOrig': 44486.99, 'nameDest': 'M1733022752', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'TRANSFER', 'amount': 679502.24, 'nameOrig': 'C722417467', 'newbalanceOrig': 0.0, 'nameDest': 'C451111351', 'newbalanceDest': 3940085.21}
Records = {'step': 1, 'type': 'TRANSFER', 'amount': 177652.91, 'nameOrig': 'C753631393', 'newbalanceOrig': 0.0, 'nameDest': 'C716157500', 'newbalanceDest': 4894.45}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 5443.26, 'nameOrig': 'C1262869688', 'newbalanceOrig': 231553.74, 'nameDest': 'M1914108708', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 244.87, 'nameOrig': 'C544386226', 'newbalanceOrig': 257733.62, 'nameDest': 'M1357700757', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 8281.57, 'nameOrig': 'C900298796', 'newbalanceOrig': 249452.05, 'nameDest': 'M1889757798', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 1175.59, 'nameOrig': 'C1166106620', 'newbalanceOrig': 19333.41, 'nameDest': 'M1932470703', 'newbalanceDest': 0.0}

In [49]:
data

{'step': 1,
 'type': 'PAYMENT',
 'amount': 2131.84,
 'nameOrig': 'C1987977423',
 'newbalanceOrig': 0.0,
 'nameDest': 'M61073295',
 'newbalanceDest': 0.0}

In [4]:
import pandas as pd
import urllib.parse

from sqlalchemy import create_engine

# Informasi koneksi ke PostgreSQL
username = "ftde01"
password = "ftde01!@#"
host = "34.50.87.186"
port = "5432"
database = "stream_processing"
password = urllib.parse.quote_plus(password)

# URL koneksi ke PostgreSQL
db_url = f"postgresql://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(db_url)

In [44]:
df = pd.read_sql_query('SELECT * FROM old_information;', engine)
df.head(5)

      nameOrig  oldbalanceOrg     nameDest  oldbalanceDest
0  C1231006815       170136.0  M1979787155             0.0
1  C1666544295        21249.0  M2044282225             0.0
2  C1305486145          181.0   C553264065             0.0
3   C840083671          181.0    C38997010         21182.0
4  C2048537720        41554.0  M1230701703             0.0

In [41]:
df.columns

Index(['nameOrig', 'oldbalanceOrg', 'nameDest', 'oldbalanceDest'], dtype='object')

### **Join Data From Producer Kafka and Database PostgreSQL**

In [50]:
produder = pd.DataFrame([data])
produder

,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest
0,1,PAYMENT,2131.84,C1987977423,0.0,M61073295,0.0

In [54]:
data = produder.merge(df, how='inner', on=['nameOrig','nameDest'])
predict = data.drop(['nameOrig','nameDest'], axis=1)
predict = predict.to_dict('index')[0]
predict

{'step': 1,
 'type': 'PAYMENT',
 'amount': 2131.84,
 'newbalanceOrig': 0.0,
 'newbalanceDest': 0.0,
 'oldbalanceOrg': 224.0,
 'oldbalanceDest': 0.0}

### **Precit Fraud Detection**

In [21]:
from modelling import FraudModel

In [22]:
#parameter inputan path
import os

path = os.getcwd()
path = path + "\\modelling\\"
path

'C:\\Users\\10698\\Documents\\DIGITAL SKOLA\\DE - STREAM PROCESSING\\modelling\\'

In [27]:
result = FraudModel.runModel(predict, path)
result

'White List'

In [55]:
data['predict'] = result
data

,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest,oldbalanceOrg,oldbalanceDest,predict
0,1,PAYMENT,2131.84,C1987977423,0.0,M61073295,0.0,224.0,0.0,White List

### **Inser MongoDB**

In [57]:
from pymongo import MongoClient

# Mengatur koneksi ke MongoDB
mongo_client = MongoClient("mongodb://admin:password@34.50.87.186:27017/")

db = mongo_client["ftde01"]
collection = db["project4-collection"]

if isinstance(data.to_dict('index')[0], list):
    collection.insert_many(data.to_dict('index')[0])
else:
    collection.insert_one(data.to_dict('index')[0])        
    print("Data telah disimpan ke MongoDB")

Data telah disimpan ke MongoDB

In [58]:
mongo_client = MongoClient("mongodb://admin:password@34.50.87.186:27017/")
db = mongo_client["ftde01"]
collection = db["project4-collection"]
    
# Membaca data dari MongoDB ke dalam list of dictionaries
data_from_mongo = list(collection.find())
    
# Membaca data ke dalam DataFrame
df = pd.DataFrame(data_from_mongo)
df

,_id,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest,oldbalanceOrg,oldbalanceDest,predict
0,668a24415444906cb867cdba,1,PAYMENT,2131.84,C1987977423,0.0,M61073295,0.0,224.0,0.0,White List